root = true

[*.{java,jsp,js,css,sql,xml,properties,md}]
charset = utf-8
end_of_line = lf
insert_final_newline = true
indent_style = space
indent_size = 4
trim_trailing_whitespace = true

[*.cmd]
charset = utf-8
end_of_line = crlf
insert_final_newline = true

[pom.xml]
indent_size = 4
